* {
	margin: 0px;
	list-style: none;
	border: none;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

body {
	padding: 20px;
	background: #fafafa;
}

h3 {
    padding-bottom: 20px;
}

p {
    padding: 20px;
}

nav {
    border-bottom: 1px solid black;
}

/**
Header
*/

header{
	position:relative;
	background:url(../images/top-bar.png) no-repeat center center;
	background-size:cover;
	padding: 20px;
	margin-bottom: 20px;
}

/**
Footer
*/

footer{
	position:relative;
	background:url(../images/top-bar.png) no-repeat center center;
	background-size:cover;
	padding: 20px;	
}

/**
Crumbs
*/

.crumbs {
  padding: 2px 2px;
  list-style: none;
  background-color: #eee;
  margin-bottom: 20px;
}

.crumbs li {
  display: inline;
  font-size: 18px;
}

.crumbs li+li:before {
  color: black;
  content: "/\00a0";
}

.crumbs li a {
  color: #0275d8;
  text-decoration: none;
}

.crumbs li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/**
Images
*/

.bodyImage {
    width: 380px;
}

.screenshot {
    width: 200px;
}