<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta name="robots" content="anchors, keywords">
  <meta name="keywords" content="{{ metadata.keywords }}" />
  <meta name="description" content="{{ metadata.description }}" />
  <link rel="stylesheet" href="css/stylesheet.css" />
</head>
	
<body>

    <a name="{{ helpBookAnchor }}"></a>
    <header>
        <h1>{{ title }}</h1>
    </header>
    
    {% if breadcrumbs %}
    <div class="crumbs">
    <ol>
    {% for crumb in breadcrumbs %}
        <li class="crumb"><a href="{{ crumb.link }}">{{ crumb.linkText | replace(".html", "") | capitalize }}</a></li>
    {% endfor %}
    </ol>
    </div>
    {% endif %}

    {% if body %}
    <p>{{ body }}</p>
    {% endif %}

    {% if bodyImage %}
    <p><a href="{{ bodyImage }}"><img class="bodyImage" src="{{ bodyImage }}" /></a></p>
    {% endif %}

    {% for section in sections %}
    <h3>{{ section.title }}</h3>
    {% if section.text %}<p>{{ section.text }}</p>{% endif %}
    {% if section.image %}<p><a href="{{ section.image }}"><img class="screenshot" alt="{{ section.imageTooltip }}" src="{{ section.image }}" /></a></p>{% endif %}
    {% if section.videoFile %}<p><video src="{{ section.videoFile }}" /></p>{% endif %}
    {% if section.link %}<p><a href="{{ section.link }}">{{ section.linkText | replace(".html", "") | capitalize }}</a></p>{% endif %}
    {% if section.externalLink %}<p><a href="{{ section.externalLink }}">{{ section.externalLink }}</a></p>{% endif %}
    {% endfor %}
    
    <br />
    <footer>
    <p>Find out more at <a href="https://www.haptrix.com" title="Haptrix">www.haptrix.com</a></p>
    <p>If you didn't find what you were looking for, please <a href="mailto:contact+help@haptrix.com" title="Haptrix">Send me a message</a></p>
    </footer>

</body>
</html>

